<!DOCTYPE html>
<html ng-app="issue" ng-controller="controller">
<head>
    <meta charset="UTF-8">
    <script src="js/angular.js"></script>
    <script src="js/angular-translate.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/color.css">
    <title>{{'ISSUES_TITLE' | translate}} - {{project.name}}</title>
</head>
<body style="padding-top: 70px;">
<div class="container">
    <div ng-include="'navbar.html'"></div>
    <div class="row">
        <div class="col-xs-3">
            <h2>{{'ISSUEGENERAL' | translate}}</h2>
            <span class="glyphicon glyphicon-info-sign"></span> {{'PROJECTNAME' | translate}} - {{project.name}}
            <h4>{{'ISSUECATEGORY' | translate}}</h4>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="type in types">
                    <span class="badge bg-{{type.color}}-y">{{type.count}}</span>
                    {{type.name}}
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="state in states">
                    <span class="badge">{{state.count}}</span>
                    <span class="label label-{{state.color}}">{{state.name}}</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-6">
                    <h3>{{'ISSUELIST' | translate}}</h3>
                </div>
                <div class="col-xs-6" style="text-align:right;padding-top:14px;">
                    <button class="btn btn-success btn-sm">{{'NEWISSUE' | translate}}</button>
                </div>
            </div>


            <div class="list-group">
                <div class="list-group-item" ng-repeat="event in events">
                    <div class="row">
                        <div class="col-xs-6">
                            <a><h4>{{event.content.title}}</h4></a>
                        </div>
                        <div class="col-xs-6" style="text-align:right">
                            Watch&nbsp;<span class="badge">{{event.content.watch}}</span>
                        </div>
                    </div>

                    <p>
                        <span class="badge bg-info bg-{{event.content.color}}-y" style="margin-top: -4px;">{{event.content.type}}</span>&nbsp;&nbsp;
                        {{'POSTER' | translate}} <span class="glyphicon glyphicon-user"></span>
                        {{event.content.user.name}}&nbsp;&nbsp;&nbsp;
                        {{'POSTDATE' | translate}} <span class="glyphicon glyphicon-time"></span>
                        {{event.content.issueDate | date:'yyyy/MM/dd'}}
                    </p>

                    <div ng-show="event.displayAll">
                        <hr>
                        <div style="margin-top: 10px;">{{event.content.content}}</div>
                        <br>
                        <a class="fg-sky-blue" style="cursor:pointer" ng-click="event.displayAll=false">{{'HIDEDETAIL'
                            | translate}}</a>
                    </div>
                    <div ng-hide="event.displayAll">
                        <a class="fg-sky-blue" style="cursor:pointer" ng-click="event.displayAll=true">{{'SHOWDETAIL'
                            | translate}}</a>
                    </div>
                </div>
            </div>
            <nav style="text-align: center;">
                <ul class="pagination">
                    <li ng-show="pagingInfo.currentPage!=1">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="page in pages" ng-class="{'active':page.active,'disabled':page.index=='...'}"><a
                            href="#">{{page.index}}</a></li>
                    <li ng-show="pagingInfo.currentPage!=pagingInfo.totalPages">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div ng-include="'foot.html'"></div>
</body>
<script>
    var app = angular.module('issue', ['pascalprecht.translate']).config(function ($translateProvider) {
        $translateProvider.translations('zh-cn', i18n_zh_cn());
        $translateProvider.preferredLanguage('zh-cn');
    });
    initUser(app);
    app.controller('controller', function ($scope, User) {
        $scope.user = User;
        $scope.navbar = {
            current: "issue"
        };
        $scope.project = {
            projectId: 1,
            name: "Issue Tracker"
        };
        $scope.types = [{
            id: 1,
            name: "轻微",
            color: "info",
            count: 3
        }, {
            id: 2,
            name: "严重",
            color: "danger",
            count: 2
        }];
        var pagingInfo = {
            totalPages: 30,
            currentPage: 15,
            amount: 30,

            nextPage: true,
            previousPage: true,

            changeTo: function (index) {
                // TODO
                paging($scope, pagingInfo.totalPages, pagingInfo.currentPage, 10);
            }
        };
        pagingInfo.changeTo(1);
        $scope.pagingInfo = pagingInfo;
        $scope.states = [{
            id: 1,
            name: "打开",
            color: "info",
            count: 5
        }, {
            id: 2,
            name: "修复",
            color: "default",
            count: 14
        }, {
            id: 3,
            name: "进行中",
            color: "warning",
            count: 3
        }];
        $scope.events = [{
            type: "issue",
            displayAll: false,
            content: {
                issueId: 1,
                title: "界面需要美化",
                user: {
                    userId: 1,
                    name: "wkgcass@hotmail.com"
                },
                content: "增加一些自定的css,而不要全套bootstrap",
                type: "轻微",
                color: "info",
                issueDate: Date.now(),
                watch: 2
            }
        }, {
            type: "issue",
            displayAll: false,
            content: {
                issueId: 2,
                title: "在发布Issue时出现BUG!",
                user: {
                    userId: 1,
                    name: "wkgcass@hotmail.com"
                },
                content: "许多时候点击发布后无响应",
                type: "严重",
                color: "danger",
                issueDate: Date.now(),
                watch: 3
            }
        }]
    });
</script>
</html>