<form>
    <div class="form-group">
        <label for="project-name">{{'PROJECTNAME' | translate}}</label>
        <input id="project-name" class="form-control" type="text" placeholder="{{'PROJECTNAME' | translate}}"
               ng-model="included.projectName">
    </div>

    <div class="form-group">
        <label for="project-detail">{{'PROJECTDETAIL' | translate}}</label>
        <textarea id="project-detail" class="form-control" placeholder="{{'PROJECTDETAIL' | translate}}"
                  style="resize: none; height: 350px;font-size: 20px;" ng-model="included.projectDetail"></textarea>
    </div>
    <div class="btn-group">
        <button class="btn btn-success">{{'SUBMIT' | translate}}</button>
        <button class="btn btn-default" ng-click="included.reset();">{{'RESET' | translate}}</button>
    </div>
</form>